<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_luncher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.CeylonTraveler"

        tools:targetApi="33">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="add your api key" />
        dfgdfg

        <activity
            android:name=".SplashScreenActivity"

            android:exported="true"> <!-- change to Splash Screen first load    ! -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Add the SearchFragment -->
        <activity
            android:name=".Fragments.SearchFragment"
            android:exported="true" />

        <activity android:name=".Fragments.FullScreenVedioFragment" android:screenOrientation="landscape">

        </activity>

    </application>

</manifest>
